<?xml version="1.0"?>
<launch>

    <arg name="name" default="rafael"/>
    <arg name="port" default="/dev/ttyUSB0"/>

     <group ns="$(arg name)">
        <node name="conversor" pkg="trabalho_final" type="conversor" output="screen"/>
        <node name="controlador_de_deslocamento" pkg="trabalho_final" type="controlador_de_deslocamento" output="screen"/>
        <node name="evitador_de_colisoes" pkg="trabalho_final" type="evitador_de_colisoes" output="screen"/>
        <node name="RosAria" pkg="rosaria" type="RosAria" output="screen">
            <param name="_port" value="$(arg port)"/>
        </node>
     </group>

</launch>
