<?xml version="1.0"?>
<launch>

    <arg name="name" default="rafael"/>
    <arg name="port" default="/dev/ttyUSB0"/>

     <group ns="$(arg name)">
        <node name="conversor" pkg="trabalho_final" type="conversor" output="screen"/>
        <node name="controlador_de_deslocamento" pkg="trabalho_final" type="controlador_de_deslocamento" output="screen"/>
        <node name="evitador_de_colisoes" pkg="trabalho_final" type="evitador_de_colisoes" output="screen"/>
        <node name="RosAria" pkg="rosaria" type="RosAria" output="screen">
            <param name="_port" value="$(arg port)"/>
        </node>

         <!-- <node name="objective_node" pkg="trabalho_final" type="objective_node" /> -->
     </group>

    <node name="pid_node" pkg="pid" type="controller" output="screen" >
        <param name="Kp" value="1.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.3" />
    </node>

<!--
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args="/control_effort /state /setpoint" />

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
-->

</launch>
